body{
  font-family: Lucida Console, Lucida Sans, Arial, Verdana, Tahoma, Serif;
  width: 800px; background-image: url("/web1assets/web1images/webpage-header.jpg");
  background-repeat: no-repeat;
   margin-left: auto;
   margin-right: auto;
  
}

 
.topnav {
  background-color: #000000;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d3d3d3;
  color: black;
}

h2 {
  color: #074AD9;
}

h3{
  color: #074AD9;
}

img {
  border: 1px solid #000000;
  float: right;
  background: transparent;
  box-shadow: none;
}


.alert {
  text-align: left;
  color: #990000;
}


#question {
  text-align: left;
  color: #074AD9;
}
